In [216]:
# Import libraries
import pandas as pd

In [217]:
# Load data
my_data = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/my_data.csv')

In [218]:
# Verify data content
my_data.head()

,Content ID,Reaction Type,Datetime,User ID (Post owner),Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,10.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,15.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,positive,30.0

In [219]:
# Group by categories
total_categories = my_data.groupby("Category").sum("Scores")

In [220]:
# Sort by most popular categories
total_categories.sort_values("Score", ascending=False)

                   Score
Category
animals          74965.0
science          71168.0
healthy eating   69339.0
technology       68738.0
food             66676.0
culture          66579.0
travel           64880.0
cooking          64756.0
soccer           57783.0
education        57436.0
fitness          55323.0
studying         54269.0
dogs             52511.0
tennis           50339.0
veganism         49619.0
public speaking  49264.0

In [221]:
# Group by content
total_content = my_data.groupby(["Content ID", "Category"]).sum("Score")

In [222]:
# Sort by most popular content
total_content.sort_values("Score", ascending=False)

                                                  Score
Content ID                           Category
292051b5-b835-4a60-962a-bddf10da82bd technology  2273.0
697af362-e84b-4429-b4ea-4123c6ab44ba science     2231.0
4dd4da35-453e-466d-95ca-b1a7710fac1f technology  2223.0
cd568dd1-70cf-45d6-b495-10eebff8c920 dogs        2222.0
31d142d9-4557-4613-bce5-cfe63cd0a3cf soccer      2164.0
...                                                 ...
7e9865ec-7455-4b39-89f7-92e2a82d0f12 education     10.0
88e43f42-027e-4256-bab4-2d1c2b6f8f67 education      5.0
48fd48c7-bc82-414e-8941-aa2090183aec dogs           5.0
16757b80-2803-4464-b5d7-e372d8d77337 technology     5.0
286e2f5f-082a-4ce7-9396-db565106d5bf studying       0.0

[962 rows x 1 columns]

In [223]:
# Check if total score is the same for total_categories and total_contet 
total_categories['Score'].sum()

973645.0

In [224]:
total_content['Score'].sum()

973645.0

In [225]:
# Checking 
my_data.groupby(["Content ID", "Category", "Sentiment"])[["Sentiment"]].count()

                                                               Sentiment
Content ID                           Category       Sentiment
004e820e-49c3-4ba2-9d02-62db0065410c tennis         positive           1
00d0cdf9-5919-4102-bf84-ebde253c3cd2 healthy eating negative          13
                                                    neutral            4
                                                    positive          29
01396602-c759-4a17-90f0-8f9b3ca11b30 tennis         negative          15
...                                                                  ...
fea9077f-2fe7-43bd-aaef-dc2619988d94 culture        neutral            3
                                                    positive           2
ff883828-a610-492d-8635-8a777eaad25f education      negative          16
                                                    neutral           10
                                                    positive          22

[2710 rows x 1 columns]